<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <!-- 引入公共导航 -->
  <%= require("html-loader!../common/nav/index.html") %>
  <!-- 引入公共面包屑 -->
  <%= require("html-loader!../common/crumbs/index.html") %>
  <!-- 引入公共面栏目banner图 -->
  <%= require("html-loader!../common/banner/index.html") %>
  <section class="news-container">
    <ul class="news-list max-center">
      <li class="news-item">
        <a href="news_view.html">
          <div class="text">
            <div class="top">
              <div class="title">集团2021年度图书社会效益评价考核再获优秀</div>
              <div class="desc">
                日前，教育部社科司下发关于反馈图书出版单位2021年度社会效益评价考核情况的函，国家开放大学出版日前，教育部社科司下发关于反馈图书出版单位2021年度社会效益评价考核情况的函，国家开放大学出版
              </div>
            </div>
            <div class="date">2022-10-08</div>
          </div>
          <div class="img-box">
            <img src="/public/images/home/new1.jpg" alt="集团2021年度图书社会效益评价考核再获优秀">
          </div>
        </a>
      </li>
      <li class="news-item">
        <a href="news_view.html">
          <div class="text">
            <div class="top">
              <div class="title">深化基于数字化战略的精准师训 ，赋能教师发展——数字时代教师专业发展学术圆桌暨《中国教师培训发展报告（2021）》发布会召开 </div>
              <div class="desc">
                教育是国之大计、党之大计，教师是立教之本、兴教之源，高质量教师队伍是高质量教育发展的根本保证教育是国之大计、党之大计，教师是立教之本、兴教之源，高质量教师队伍是高质量教育发展的根本保证
              </div>
            </div>
            <div class="date">2022-10-08</div>
          </div>
          <div class="img-box">
            <img src="/public/images/home/new2.jpg"
              alt="深化基于数字化战略的精准师训 ，赋能教师发展——数字时代教师专业发展学术圆桌暨《中国教师培训发展报告（2021）》发布会召开 ">
          </div>
        </a>
      </li>
      <li class="news-item">
        <a href="news_view.html">
          <div class="text">
            <div class="top">
              <div class="title">集团2021年度图书社会效益评价考核再获优秀</div>
              <div class="desc">
                2022年7月中下旬，庆祝国家开放大学出版社成立四十周年暨出版传媒集团成立二十周年足球友谊赛及篮2022年7月中下旬，庆祝国家开放大学出版社成立四十周年暨出版传媒集团成立二十周年足球友谊赛及篮
              </div>
            </div>
            <div class="date">2022-10-08</div>
          </div>
          <div class="img-box">
            <img src="/public/images/home/new3.jpg" alt="集团2021年度图书社会效益评价考核再获优秀">
          </div>
        </a>
      </li>
      <li class="news-item">
        <a href="news_view.html">
          <div class="text">
            <div class="top">
              <div class="title">集团2021年度图书社会效益评价考核再获优秀</div>
              <div class="desc">
                日前，教育部社科司下发关于反馈图书出版单位2021年度社会效益评价考核情况的函，国家开放大学出版日前，教育部社科司下发关于反馈图书出版单位2021年度社会效益评价考核情况的函，国家开放大学出版
              </div>
            </div>
            <div class="date">2022-10-08</div>
          </div>
          <div class="img-box">
            <img src="/public/images/home/new1.jpg" alt="集团2021年度图书社会效益评价考核再获优秀">
          </div>
        </a>
      </li>
      <li class="news-item">
        <a href="news_view.html">
          <div class="text">
            <div class="top">
              <div class="title">深化基于数字化战略的精准师训 ，赋能教师发展——数字时代教师专业发展学术圆桌暨</div>
              <div class="desc">
                教育是国之大计、党之大计，教师是立教之本、兴教之源，高质量教师队伍是高质量教育发展的根本保证教育是国之大计、党之大计，教师是立教之本、兴教之源，高质量教师队伍是高质量教育发展的根本保证
              </div>
            </div>
            <div class="date">2022-10-08</div>
          </div>
          <div class="img-box">
            <img src="/public/images/home/new2.jpg" alt="《中国教师培训发展报告（2021）》发布会召开 ">
          </div>
        </a>
      </li>
      <li class="news-item">
        <a href="news_view.html">
          <div class="text">
            <div class="top">
              <div class="title">集团2021年度图书社会效益评价考核再获优秀</div>
              <div class="desc">
                2022年7月中下旬，庆祝国家开放大学出版社成立四十周年暨出版传媒集团成立二十周年足球友谊赛及篮2022年7月中下旬，庆祝国家开放大学出版社成立四十周年暨出版传媒集团成立二十周年足球友谊赛及篮
              </div>
            </div>
            <div class="date">2022-10-08</div>
          </div>
          <div class="img-box">
            <img src="/public/images/home/new3.jpg" alt="集团2021年度图书社会效益评价考核再获优秀">
          </div>
        </a>
      </li>
    </ul>
    <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/pagelist/index.html") %>
  </section>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>