<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <!-- 引入公共导航 -->
    <%= require("html-loader!../common/nav/index.html") %>
      <!-- 引入公共面包屑 -->
      <%= require("html-loader!../common/crumbs/index.html") %>
        <!-- 引入公共面banner -->
        <%= require("html-loader!../common/banner/index.html") %>
          <main class="main-container">
            <ul class="style-tab-list max-center">
              <li class="style-tab-item on">
                <a href="style_photo.html">照片</a>
              </li>
              <li class="style-tab-item">
                <a href="style_video.html">视频</a>
              </li>
            </ul>
            <div class="content max-center">
              <ul class="style-list">
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
                <li class="style-item" data-big-img="/public/images/style/alert1.jpg">
                  <div class="img">
                    <img src="/public/images/style/photo1.jpg" alt="编辑中心/继续教育教材研究中心">
                  </div>
                  <div class="text">
                    <div class="tag">集体照1</div>
                    <div class="title">编辑中心/继续教育教材研究中心</div>
                  </div>
                </li>
              </ul>
              <!-- 引入公共页尾 -->
              <%= require("html-loader!../common/pagelist/index.html") %>
            </div>
          </main>
          <section class="alert-container">
            <div class="alert-box">
              <div class="img">
                <img class="alert-img" src="/public/images/style/alert1.jpg" alt="">
              </div>
              <div class="close">
                <svg t="1665628198042" class="icon" viewBox="0 0 1024 1024" version="1.1"
                  xmlns="http://www.w3.org/2000/svg" p-id="2556">
                  <path
                    d="M557.312 513.248l265.28-263.904c12.544-12.48 12.608-32.704 0.128-45.248-12.512-12.576-32.704-12.608-45.248-0.128l-265.344 263.936-263.04-263.84C236.64 191.584 216.384 191.52 203.84 204 191.328 216.48 191.296 236.736 203.776 249.28l262.976 263.776L201.6 776.8c-12.544 12.48-12.608 32.704-0.128 45.248 6.24 6.272 14.464 9.44 22.688 9.44 8.16 0 16.32-3.104 22.56-9.312l265.216-263.808 265.44 266.24c6.24 6.272 14.432 9.408 22.656 9.408 8.192 0 16.352-3.136 22.592-9.344 12.512-12.48 12.544-32.704 0.064-45.248L557.312 513.248z"
                    p-id="2557" fill="#6d6d6d"></path>
                </svg>
              </div>
            </div>
            <div class="mask"></div>
          </section>
          <!-- 引入公共页尾 -->
          <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>